@import url('../../styles/transitions.css');

.menu {
    display: none;
}

.links {
    display: none;
}

.menu > .hamburger-bar,
.menu > .theme-toggle.mobile {
    display: flex;
    align-items: center;
    height: 24px;
    transition: 
        transform 0.2s ease-out,
        color var(--theme-transition-speed) var(--theme-transition-easing),
        background-color var(--theme-transition-speed) var(--theme-transition-easing);
    text-decoration: none;
    color: var(--hamburger-text);
    background-color: var(--hamburger-bg);
    padding: 10px 16px;
    text-align: left;
    font-weight: 400;
    font-size: 0.8rem;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.burger-icon {
    cursor: pointer;
    display: inline-block;
    padding: 8px 0;
    top: 4px;
    right: 4px;
    user-select: none;
    width: auto;
    margin: 0;
}

.burger-icon .burger-sticks {
    background: var(--topbar-text);
    display: block;
    height: 2px;
    position: relative;
    transition: 
        background .2s ease-out,
        background-color var(--theme-transition-speed) var(--theme-transition-easing);
    width: 18px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
    background: var(--topbar-text);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: 
        all .2s ease-out,
        background-color var(--theme-transition-speed) var(--theme-transition-easing);
    width: 100%;
}

.burger-icon .burger-sticks:before {
    top: 5px;
}

.burger-icon .burger-sticks:after {
    top: -5px;
}

.burger-check {
    display: none;
}

.burger-check:checked~.menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-top: 60px;
    width: 120px;
    height: 100px;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 120px;
    transition: 0.5s ease;
}

.burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
}

@media (min-width: 769px) {
    .links {
        display: flex !important;
    }
    .burger-icon {
        display: none !important;
    }
    .menu {
        display: none !important;
    }
    .topbar > .contents {
        padding: 24px;
    }
}

@media (max-width: 768px) {
    .links {
        display: none !important;
    }
    .burger-icon {
        display: inline-block !important;
    }
    .topbar > .contents {
        padding: 16px 24px;
    }
}
